################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Class/SK3_Class/bin/Debug
/Class/SK3_Class/obj/Debug
/Class/SSHH_Class/bin/Debug
/Class/SSHH_Class/obj/Debug
/Class/SSVN_Class/bin/Debug
/Class/SSVN_Class/obj
/Class/SSYT_Class/bin/Debug
/Class/SSYT_Class/obj/Debug
/Class/YS2_Class/bin/Debug
/Class/YS2_Class/bin_old
/Class/YS2_Class/obj/Debug
/Class/YS2_Class/obj_old
/Class/YSA_Class/bin/Debug
/Class/YSA_Class/obj/Debug
/Class/YSB_Class/bin/Debug
/Class/YSB_Class/obj/Debug
/Class/YSC_Class/bin/Debug
/Class/YSC_Class/obj/Debug
/iHRM-Web/iTemplate/bin
/iHRM-Win/iHRM.Win/bin
/iHRM-Win/iHRM.Win/obj
/iHRM-Win/sHRM_setup/Debug
/iHRM.Core/Common/bin
/iHRM.Core/Common/obj
/iHRM.Core/Data/bin
/packages
/SETUP
/UpdatesHRM/UpdateConfig/bin
/UpdatesHRM/UpdateConfig/obj
